<div class="anime-details" *ngIf="anime">
  <h1>{{ anime.titleEN }}</h1>
  <div class="main-details-container">
    <div class="left-details-container">
      <div class="anime-image">
        <img [src]="anime.imageUrl" alt="{{ anime.titleEN }}"/>
      </div>
      <div class="left-anime-details-info">
        <p>Episodes: {{anime.episodes}}</p>
        <p>Rating: {{anime.rating}}/10</p>
        <p>Genre: {{anime.genreName}}</p>
        <p>Studio: {{anime.studioName}}</p>
        <p>Status: {{anime.animeStatusName}}</p>
        <p>Type: {{anime.animeTypeName}}</p>
      </div>
    </div>


    <div class="right-details-container">
      <h2>Synopsis</h2>
      <p>{{anime.shortDescription}}</p>
      <h2>Description</h2>
      <p>{{anime.description}}</p>
      <button mat-raised-button color="primary" (click)="onCloseAnimeDetails()">Back</button>
    </div>
  </div>

</div>
