.anime-image {
  width: 20%;
  height: 20%;
  object-fit: cover;
}

.anime-details {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.anime-details h1 {
  margin-bottom: 1rem;
}

.main-details-container {
  display: flex;
  gap: 20px;
}

.left-details-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.right-details-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
