<!-- Header component -->
<app-header></app-header>
<div class="home-container">
  <app-main-banner></app-main-banner>

  <div class="cards-container">
    <app-card
      *ngFor="let anime of animeList | slice:0:7; trackBy: trackByAnime"
      [logoUrl]="anime.imageUrl"
      [title]="anime.titleEN"
      [shortDescription]="anime.shortDescription"
      [rating]="anime.rating"
      [episodes]="anime.episodes"
      (cardClick)="onAnimeSelected(anime)">
    </app-card>
  </div>

  <div *ngIf="selectedAnime" class="overlay">
    <div class="anime-page">
      <app-anime-page [anime]="selectedAnime" (closeAnimePage)="clearSelection()"></app-anime-page>
    </div>
  </div>
</div>

