<app-header></app-header>
<div class="main-container">
  <form #newAnimeForm="ngForm" (ngSubmit)="onSubmit()">
    <!-- Image container for new anime -->
    <div class="img-container">
      <div class="drop-file">
        <ngx-file-drop dropZoneLabel="Drop files here"
                       (onFileDrop)="dropped($event)"
                       (onFileOver)="fileOver($event)"
                       (onFileLeave)="fileLeave($event)"
                       >
          <ng-template ngx-file-drop-content-tmp *ngIf="!isImageAdded" class="drop-content">
            <div class="img-content" >
              <strong>Drag and Drop your files here.</strong><br>
              <span>or</span><br>
              <button mat-button>Browse Files</button><br>
              <button mat-button>Upload From Url</button>
            </div>
          </ng-template>
          <ng-template ngx-file-drop-content-tmp *ngIf="isImageAdded" class="drop-preview">
            <div class="img-preview" >
              <img [src]="imgSrc" alt="preview" *ngIf="imgSrc"/>
            </div>
          </ng-template>

        </ngx-file-drop>

      </div>
      <div class="left-info-container">
        <!-- Genre -->
        <mat-form-field appearance="fill">
          <mat-label>Genre</mat-label>
          <input
            matInput
            type="text"
            id="genre"
            name="genre"
            required
            [(ngModel)]="genre"
            [matAutocomplete]="genreAuto"
            (input)="filterGenreList()"
            (focus)="filterGenreList()"
            #genreInput="ngModel"
            #genreInputRef
            class="genre-input" />
          <mat-autocomplete requireSelection #genreAuto="matAutocomplete">
            @for (genreItem of filteredGenreList; track genreItem) {
              <mat-option [value]="genreItem">
                {{ genreItem }}
              </mat-option>
            }
          </mat-autocomplete>

          <mat-error *ngIf="genreInput.invalid && genreInput.touched">
            Genre is required
          </mat-error>

        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Studio</mat-label>
          <input
            matInput
            type="text"
            id="studio"
            name="studio"
            required
            [(ngModel)]="studio"
            #studioInput="ngModel"
            class="studio-input"
          />
          <mat-error *ngIf="studioInput.invalid && studioInput.touched">
            Studio is required
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <!-- Form to add a new anime -->
    <div class="description-container">

    </div>
  </form>
</div>
