<app-header></app-header>
<div class="main-container">
  <form #newAnimeForm="ngForm" (ngSubmit)="onSubmit()" class="main-form">
    <!-- Image container for new anime -->
    <div class="img-container">
      <div class="drop-file">
        <ngx-file-drop dropZoneLabel="Drop files here"
                       (onFileDrop)="dropped($event)"
                       (onFileOver)="fileOver($event)"
                       (onFileLeave)="fileLeave($event)"
                       >
          <ng-template ngx-file-drop-content-tmp *ngIf="!isImageAdded" class="drop-content">
            <div class="img-content" >
              <strong>Drag and Drop your files here.</strong><br>
              <span>or</span><br>
              <button mat-button>Browse Files</button><br>
              <button mat-button>Upload From Url</button>
            </div>
          </ng-template>
          <ng-template ngx-file-drop-content-tmp *ngIf="isImageAdded" class="drop-preview">
            <div class="img-preview" >
              <img [src]="imgSrc" alt="preview" *ngIf="imgSrc"/>
            </div>
          </ng-template>

        </ngx-file-drop>

      </div>
      <div class="left-info-container">
        <!-- TitleEN -->
        <mat-form-field appearance="fill">
          <mat-label>Title (EN)</mat-label>
          <input
            matInput
            type="text"
            id="titleEN"
            name="titleEN"
            required
            [(ngModel)]="titleEN"
            #titleENInput="ngModel"
            class="title-input"
          />
          <mat-error *ngIf="titleENInput.invalid && titleENInput.touched">
            Title (EN) is required
          </mat-error>
        </mat-form-field>

        <!-- TitleJP -->
        <mat-form-field appearance="fill">
          <mat-label>Title (JP)</mat-label>
          <input
            matInput
            type="text"
            id="titleJP"
            name="titleJP"
            required
            [(ngModel)]="titleJP"
            #titleJPInput="ngModel"
            class="title-input"
          />
          <mat-error *ngIf="titleJPInput.invalid && titleJPInput.touched">
            Title (JP) is required
          </mat-error>
        </mat-form-field>

        <!-- Type -->
        <mat-form-field appearance="fill">
          <mat-label>Type</mat-label>
          <input
            matInput
            type="text"
            id="type"
            name="type"
            required
            [(ngModel)]="type"
            [matAutocomplete]="typeAuto"
            (input)="filteredAnimeTypes = filterList(lookupData?.animeTypes, typeInputRef)"
            (focus)="filteredAnimeTypes = filterList(lookupData?.animeTypes, typeInputRef)"
            #typeInput="ngModel"
            #typeInputRef
            class="type-input"
          />
          <mat-autocomplete requireSelection #typeAuto="matAutocomplete">
            @for (typeItem of filteredAnimeTypes; track typeItem) {
              <mat-option [value]="typeItem.name">
                {{ typeItem.name }}
              </mat-option>
            }
          </mat-autocomplete>
          <mat-error *ngIf="typeInput.invalid && typeInput.touched">
            Type is required
          </mat-error>
        </mat-form-field>

        <!-- Genre -->
        <mat-form-field appearance="fill">
          <mat-label>Genre</mat-label>
          <input
            matInput
            type="text"
            id="genre"
            name="genre"
            required
            [(ngModel)]="genre"
            [matAutocomplete]="genreAuto"
            (input)="filteredGenres = filterList(lookupData?.genres, genreInputRef)"
            (focus)="filteredGenres = filterList(lookupData?.genres, genreInputRef)"
            #genreInput="ngModel"
            #genreInputRef
            class="genre-input" />
          <mat-autocomplete requireSelection #genreAuto="matAutocomplete">
            @for (genreItem of filteredGenres; track genreItem) {
              <mat-option [value]="genreItem.name">
                {{ genreItem.name }}
              </mat-option>
            }
          </mat-autocomplete>

          <mat-error *ngIf="genreInput.invalid && genreInput.touched">
            Genre is required
          </mat-error>

        </mat-form-field>

        <!-- Studio -->
        <mat-form-field appearance="fill">
          <mat-label>Studio</mat-label>
          <input
            matInput
            type="text"
            id="studio"
            name="studio"
            required
            [(ngModel)]="studio"
            [matAutocomplete]="studioAuto"
            (input)="filteredStudios = filterList(lookupData?.studios, studioInputRef)"
            (focus)="filteredStudios = filterList(lookupData?.studios, studioInputRef)"
            #studioInput="ngModel"
            #studioInputRef
            class="studio-input"
          />
          <mat-autocomplete requireSelection #studioAuto="matAutocomplete">
            @for (studioItem of filteredStudios; track studioItem) {
              <mat-option [value]="studioItem.name">
                {{ studioItem.name }}
              </mat-option>
            }
          </mat-autocomplete>
          <mat-error *ngIf="studioInput.invalid && studioInput.touched">
            Studio is required
          </mat-error>
        </mat-form-field>

        <!-- Status -->
        <mat-form-field appearance="fill">
          <mat-label>Status</mat-label>
          <input
            matInput
            type="text"
            id="status"
            name="status"
            required
            [(ngModel)]="status"
            [matAutocomplete]="statusAuto"
            (input)="filteredAnimeStatuses = filterList(lookupData?.animeStatuses, statusInputRef)"
            (focus)="filteredAnimeStatuses = filterList(lookupData?.animeStatuses, statusInputRef)"
            #statusInput="ngModel"
            #statusInputRef
            class="status-input"
          />
          <mat-autocomplete requireSelection #statusAuto="matAutocomplete">
            @for (statusItem of filteredAnimeStatuses; track statusItem) {
              <mat-option [value]="statusItem.name">
                {{ statusItem.name }}
              </mat-option>
            }
          </mat-autocomplete>
          <mat-error *ngIf="statusInput.invalid && statusInput.touched">
            Status is required
          </mat-error>
        </mat-form-field>

        <!-- Aired start and end date -->
        <mat-form-field>
          <mat-label>Enter a date range</mat-label>
          <mat-date-range-input [formGroup]="airedRange" [rangePicker]="picker">
            <input matStartDate  formControlName="start" placeholder="Start date">
            <input matEndDate formControlName="end" placeholder="End date">
          </mat-date-range-input>
          <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>

          @if (airedRange.controls.start.hasError('matStartDateInvalid')) {
            <mat-error>Invalid start date</mat-error>
          }
          @if (airedRange.controls.end.hasError('matEndDateInvalid')) {
            <mat-error>Invalid end date</mat-error>
          }
        </mat-form-field>
      </div>
    </div>

    <!-- Form to add a new anime -->
    <div class="right-info-container">
      <!-- Synopsis/Short Description -->
      <mat-form-field>
        <mat-label>Synopsis</mat-label>
        <textarea matInput
                  cdkTextareaAutosize
                  [(ngModel)]="synopsis"
                  [ngModelOptions]="{standalone: true}"
                  #synopsisTextarea="ngModel"
                  #autosize="cdkTextareaAutosize"
                  cdkAutosizeMinRows="3"
                  cdkAutosizeMaxRows="3"></textarea>
        <mat-error *ngIf="synopsisTextarea.invalid && synopsisTextarea.touched">
          Synopsis is required
        </mat-error>
      </mat-form-field>

      <!-- Long Description -->
      <mat-form-field>
        <mat-label>Long Descriptions</mat-label>
        <textarea matInput
                  cdkTextareaAutosize
                  [(ngModel)]="longDescription"
                  [ngModelOptions]="{standalone: true}"
                  #longDescriptionTextarea="ngModel"
                  #autosize="cdkTextareaAutosize"
                  cdkAutosizeMinRows="5"
                  cdkAutosizeMaxRows="5"></textarea>
        <mat-error *ngIf="longDescriptionTextarea.invalid && longDescriptionTextarea.touched">
          Long Description is required
        </mat-error>
      </mat-form-field>

      <!-- Episode count -->
      <mat-form-field appearance="fill">
        <mat-label>Episode Count</mat-label>
        <input
          matInput
          type="number"
          id="episodeCount"
          name="episodeCount"
          required
          [(ngModel)]="episodeCount"
          #episodeCountInput="ngModel"
          class="episode-count-input"
        />
        <mat-error *ngIf="episodeCountInput.invalid && episodeCountInput.touched">
          Episode Count is required
        </mat-error>
      </mat-form-field>
    </div>
  </form>
</div>
