:host {
  ::ng-deep {
    .ngx-file-drop__drop-zone {
      border: 2px dashed #dadce1 !important;
      height: 75% !important;
      width: 60% !important;
      padding: 0 !important;
      margin-top: 10% !important;
      border-radius: 0 !important;
      display: flex;
      background-color: #eff1f6 !important;
      justify-content: center;
      align-items: center;
      z-index: 0;
    }

    .ngx-file-drop__content {
      background: #eff1f6;
      color: #717074 !important;
      height: 100% !important;
      width: 100%;

      div {
        margin: 0;
        text-align: center;
      }
    }
  }

  .uploadedDocs {
    margin-bottom: 0.5rem;

    .imgsrc {
      float: left;
      margin-right: 10px;
      border-radius: 10px;
      width: 100px;
      height: 100px;
      object-fit: cover;
    }

    .content {
      color: #717074;
      float: left;

      p {
        margin-bottom: 0.25rem;

        &.delete {
          display: flex;
          align-items: center;
          color: #f54337;

          img {
            margin-right: 5px;
          }
        }
      }
    }
  }
}

.drop-content{

}

.fs-12 {
  font-size: 12px;
}

.main-container{
  background: linear-gradient(135deg, #13161f, #252c48);
}

.img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 25vw;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  transition: 0.3s;
  flex-shrink: 0;
}

.drop-file{
  display: block;
  justify-content: center;
  align-items: center;
  height: 45%;
  width: 100%;
  background-color: red; // todo: remove
}

.img-content {
  display: block;
}

.left-info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 65%;
  width: 100%;
  background-color: blue; // todo: remove
}

.img-preview{
  height: 100%;
  width: 100%;
  background-color: black;
  margin: 0;
  padding: 0;
}

img {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}
