<app-header></app-header>
<div class="main-container">
  <form #newAnimeForm="ngForm" (ngSubmit)="onSubmit()">
    <!-- Image container for new anime -->
    <div class="img-container">
      <div class="drop-file">
        <ngx-file-drop dropZoneLabel="Drop files here"
                       (onFileDrop)="dropped($event)"
                       (onFileOver)="fileOver($event)"
                       (onFileLeave)="fileLeave($event)"
                       >
          <ng-template ngx-file-drop-content-tmp *ngIf="!isImageAdded" class="drop-content">
            <div class="img-content" >
              <strong>Drag and Drop your files here.</strong><br>
              <span>or</span><br>
              <button mat-button>Browse Files</button><br>
              <button mat-button>Upload From Url</button>
            </div>
          </ng-template>
          <ng-template ngx-file-drop-content-tmp *ngIf="isImageAdded" class="drop-preview">
            <div class="img-preview" >
              <img [src]="imgSrc" alt="preview" *ngIf="imgSrc"/>
            </div>
          </ng-template>

        </ngx-file-drop>

      </div>
      <div class="left-info-container">
        <!-- TitleEN -->
        <mat-form-field appearance="fill">
          <mat-label>Title (EN)</mat-label>
          <input
            matInput
            type="text"
            id="titleEN"
            name="titleEN"
            required
            [(ngModel)]="titleEN"
            #titleENInput="ngModel"
            class="title-input"
          />
          <mat-error *ngIf="titleENInput.invalid && titleENInput.touched">
            Title (EN) is required
          </mat-error>
        </mat-form-field>

        <!-- TitleJP -->
        <mat-form-field appearance="fill">
          <mat-label>Title (JP)</mat-label>
          <input
            matInput
            type="text"
            id="titleJP"
            name="titleJP"
            required
            [(ngModel)]="titleJP"
            #titleJPInput="ngModel"
            class="title-input"
          />
          <mat-error *ngIf="titleJPInput.invalid && titleJPInput.touched">
            Title (JP) is required
          </mat-error>
        </mat-form-field>

        <!-- Type -->
        <mat-form-field appearance="fill">
          <mat-label>Type</mat-label>
          <input
            matInput
            type="text"
            id="type"
            name="type"
            required
            [(ngModel)]="type"
            [matAutocomplete]="typeAuto"
            (input)="filteredTypeList = filterList(typeList, typeInputRef)"
            (focus)="filteredTypeList = filterList(typeList, typeInputRef)"
            #typeInput="ngModel"
            #typeInputRef
            class="type-input"
          />
          <mat-autocomplete requireSelection #typeAuto="matAutocomplete">
            @for (typeItem of filteredTypeList; track typeItem) {
              <mat-option [value]="typeItem">
                {{ typeItem }}
              </mat-option>
            }
          </mat-autocomplete>
          <mat-error *ngIf="typeInput.invalid && typeInput.touched">
            Type is required
          </mat-error>
        </mat-form-field>

        <!-- Genre -->
        <mat-form-field appearance="fill">
          <mat-label>Genre</mat-label>
          <input
            matInput
            type="text"
            id="genre"
            name="genre"
            required
            [(ngModel)]="genre"
            [matAutocomplete]="genreAuto"
            (input)="filteredGenreList = filterList(genreList, genreInputRef)"
            (focus)="filteredGenreList = filterList(genreList, genreInputRef)"
            #genreInput="ngModel"
            #genreInputRef
            class="genre-input" />
          <mat-autocomplete requireSelection #genreAuto="matAutocomplete">
            @for (genreItem of filteredGenreList; track genreItem) {
              <mat-option [value]="genreItem">
                {{ genreItem }}
              </mat-option>
            }
          </mat-autocomplete>

          <mat-error *ngIf="genreInput.invalid && genreInput.touched">
            Genre is required
          </mat-error>

        </mat-form-field>

        <!-- Studio -->
        <mat-form-field appearance="fill">
          <mat-label>Studio</mat-label>
          <input
            matInput
            type="text"
            id="studio"
            name="studio"
            required
            [(ngModel)]="studio"
            [matAutocomplete]="studioAuto"
            (input)="filteredStudioList = filterList(studioList, studioInputRef)"
            (focus)="filteredStudioList = filterList(studioList, studioInputRef)"
            #studioInput="ngModel"
            #studioInputRef
            class="studio-input"
          />
          <mat-autocomplete requireSelection #studioAuto="matAutocomplete">
            @for (studioItem of filteredStudioList; track studioItem) {
              <mat-option [value]="studioItem">
                {{ studioItem }}
              </mat-option>
            }
          </mat-autocomplete>
          <mat-error *ngIf="studioInput.invalid && studioInput.touched">
            Studio is required
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <!-- Form to add a new anime -->
    <div class="description-container">

    </div>
  </form>
</div>
