.anime-card {
  width: 250px; /* Fixed width for each card */
  height: 350px;
  margin: 10px;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column; /* Align content in a column */
  position: relative;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .logo-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1; /* Place the logo container behind the content */
  }

  .anime-logo {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the logo covers the entire container */
    transition: opacity 0.3s;
  }

  &:hover .anime-logo {
    opacity: 0.2; /* Darken the logo on hover */
  }

  mat-card-content {
    padding: 16px;
    margin-top: auto;
    position: relative;
    z-index: 2;
    opacity: 0;
    transition: opacity 0.3s;
  }

  &:hover mat-card-content {
    opacity: 1; /* Show the content on hover */
  }

  .anime-description {
    font-size: 14px;
    line-height: 1.5;
    color: white;
    font-family: 'Roboto', sans-serif;
  }

  .anime-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
    color: lightgray;
  }

  mat-card-actions {
    display: flex;
    justify-content: flex-end;
    padding: 8px;
  }

  button {
    z-index: 3;
  }
}
